APP_NAME=Hesab VPN
APP_DOMAIN=hesab.filmjadiid.ir
APP_SECRET_KEY=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_THIS_LONG_PASSWORD
POSTGRES_DB=vpncontrol
POSTGRES_USER=vpncontrol
POSTGRES_PASSWORD=CHANGE_THIS_DB_PASSWORD
SEED_KEY=PASTE_PRIVATE_SEED_KEY
APP_PORT=8080
BIND_IP=127.0.0.1
